<div class="app-content">
  <md-card *ngIf="cat" class="{{cat | lowercase}}">
  <img md-card-image src="static/radha-hindu-goddesses.png">
  </md-card>
  <md-card>
  <md-list>
  <!-- <h1>{{title}}</h1> -->
  <md-list-item md-line *ngFor="let art of articles" 
      [routerLink]="['/read', art.id]">
    <h4 class="eng-title">{{art.title}}&nbsp;|&nbsp; </h4><br/>
    <p class="chn-title"> {{art.chinese_title}}</p>
  </md-list-item>
<div *ngIf="selected_article">
  <h2>
    {{selected_article.title | uppercase}} is your chosen one
  </h2>
  <button (click)="gotoDetail()">View Details</button>

</div>
  </md-list>
  </md-card>