div.app-content { margin-top: 56px; }
md-card { margin: 5%; }

.cat-tile {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 32px;
    text-align: center;
    color: white;
    box-shadow: inset 0 250px 300px -30px rgba(0,0,0,.6);
}


.cat-tile:hover {
    box-shadow: none;
}

.anal {
    background-image: url("static/anal.jpg");
    background-image: filter(url("static/anal.jpg"), brightness(85%));
}

.bdsm {
    background-image: url("static/bdsm.jpeg");
}

.celebrities {
    background-image: url("static/celeb.jpg");
}

.chain {
    background-image: url("static/chain.jpg");
}

.couplings {
    background-image: url("static/couplings.png");
}

.horror {
    background-image: url("static/horror.jpg");
}


@media only screen and (max-width: 425px) {

   .cat-tile { font-size: 16px; }

}